{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>{% block title %}Productivum{% endblock %}</title>

    <!-- Общие стили -->
    <link rel="shortcut icon" type="image/png" href="{% static 'site/images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'general_app/css/scroll.css' %}">
    <link href="{% static 'hwyd/vendor/bootstrap/5.3.8/bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% include 'includes/navigation_styles.html' %}

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" href="{% static 'general_app/css/base.css' %}">
    {% include 'includes/typography.html' %}
</head>

<body>
    {% block navbar %}
    {% include 'includes/navbar.html' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
    {% if user.is_authenticated %}
        {% include 'notifications/modal_snippet.html' %}
    {% endif %}
</body>

</html>
