p.main:hover, p.paragraph:hover {
    cursor: pointer
}

p.paragraph {
    transition: all 0.25s ease-out;
}

div.divClick {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.25s ease-out;
    display: block;
}

div.today {
    background-color: white;
}

div.divClick.today {
    background-color: white;
}

div.on {
    border: 1px solid #555;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 1px 1px rgba(100, 100, 100, .3);
}

progress::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #555;
    box-shadow: 0 1px 1px rgba(100, 100, 100, .3);
}

progress.divClick {
    transition: all 0.25s ease-out;
    display: block;
    border-radius: 3px;
}

p.paragraph:hover, div.divClick:hover, div.divClick.today:hover {
    box-shadow: 0 0 3px -1px rgb(0, 0, 0) inset;
    border: 1px solid black;
}

p.headParagraph {
    transition: all 0.25s ease-out;
}

div.progress {
    width: 24px;
    height: 24px;
    display: block;
}
