{% load static %}
<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">

<dialog class="dialog" id="some-modal-id">
    <h3 class="dialog__title">Настройки</h3>

    <hr style="margin-bottom: 15px;">

    <form id="settingsGlobal" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="selectSettings">Настройка</label>
            <button type="button" id="addSetting" class="button-6" style="width: auto;height: auto;background-color:#dfffdf;">add</button>
            <input type="text" id="nameSetting" name="nameSetting" value="{{ settings.name }}">
        <button type="button" id="delSetting" class="button-6" style="width: auto;height: auto;background-color:#ffdfdf;">del</button>
            <select id="selectSettings" name="selectSettings" style="margin-left: 10px;">
                {% for setting in all_settings %}
                    <option {% if setting.selected %}selected{% endif %} value="{{ setting.pk }}">{{ setting.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
        <label for="selectFont">Шрифт</label>
        <select id="selectFont" name="selectFont" style="margin-left: 10px;">
            <option {% if settings.fontFamily == 'Consolas' %}selected{% endif %} style="font-family: 'Consolas', serif" name="Consolas">Consolas</option>
            <option {% if settings.fontFamily == 'Montserrat' %}selected{% endif %} style="font-family: 'Montserrat', serif" name="Montserrat">Montserrat</option>
            <option {% if settings.fontFamily == 'Montserrat Alternates' %}selected{% endif %} style="font-family: 'Montserrat Alternates', serif" name="Montserrat Alternates">Montserrat Alternates</option>
            <option {% if settings.fontFamily == 'Georgia' %}selected{% endif %} style="font-family: 'Georgia', serif" name="Georgia">Georgia</option>
            <option {% if settings.fontFamily == 'JetBrains Mono' %}selected{% endif %} style="font-family: 'JetBrains Mono', serif" name="JetBrains Mono">JetBrains Mono</option>
            <option {% if settings.fontFamily == 'Arial' %}selected{% endif %} style="font-family: 'Arial', serif" name="Arial">Arial</option>
            <option {% if settings.fontFamily == 'Courier New' %}selected{% endif %} style="font-family: 'Courier New', serif" name="Courier New">Courier New</option>
            <option {% if settings.fontFamily == 'Lucida Console' %}selected{% endif %} style="font-family: 'Lucida Console', serif" name="Lucida Console">Lucida Console</option>
            <option {% if settings.fontFamily == 'Trebuchet MS' %}selected{% endif %} style="font-family: 'Trebuchet MS', serif" name="Trebuchet MS">Trebuchet MS</option>
            <option {% if settings.fontFamily == 'Istok Web' %}selected{% endif %} style="font-family: 'Istok Web', serif" name="Istok Web">Istok Web</option>
            <option {% if settings.fontFamily == 'Roboto Mono' %}selected{% endif %} style="font-family: 'Roboto Mono', serif" name="Roboto Mono">Roboto Mono</option>
            <option {% if settings.fontFamily == 'Inter' %}selected{% endif %} style="font-family: 'Inter', serif" name="Inter">Inter</option>
            <option {% if settings.fontFamily == 'Ubuntu' %}selected{% endif %} style="font-family: 'Ubuntu', serif" name="Ubuntu">Ubuntu</option>
            <option {% if settings.fontFamily == 'Comic Sans MS' %}selected{% endif %} style="font-family: 'Comic Sans MS', serif" name="Comic Sans MS">Comic Sans MS</option>
        </select>
        </div>

        <div>
            <div>
                <label for="enableSortTable">Перетаскивание строк</label>
                <input name="radioSettings" id="enableSortTable" type="radio" value="sort" autofocus
                        {% if settings.enableSortTable %} checked {% endif %}>
            </div>
            <div>
                <label for="enableOpenCloseGroups">Открытие/закрытие групп</label>
                <input name="radioSettings" id="enableOpenCloseGroups" type="radio" value="group"
                        {% if settings.enableOpenCloseGroups %} checked {% endif %}>
            </div>
        </div>

        <div style="display: inline-block">
            <div>
                <label for="showCalendar">Календарь</label>
                <input name="showCalendar" id="showCalendar" type="checkbox"
                        {% if settings.showCalendar %} checked {% endif %}>
            </div>
            <div>
                <label for="showCreateActivityGroup">Создание групп</label>
                <input name="showCreateActivityGroup" id="showCreateActivityGroup" type="checkbox"
                        {% if settings.showCreateActivityGroup %} checked {% endif %}>
            </div>
            <div>
                <label for="showCreateActivity">Создание активностей</label>
                <input name="showCreateActivity" id="showCreateActivity" type="checkbox"
                        {% if settings.showCreateActivity %} checked {% endif %}>
            </div>
            <div>
                <label for="showDeleteActivity">Удаление активностей</label>
                <input name="showDeleteActivity" id="showDeleteActivity" type="checkbox"
                        {% if settings.showDeleteActivity %} checked {% endif %}>
            </div>
            <div>
                <label for="showDeleteAllActivities">Удаление всех активностей</label>
                <input name="showDeleteAllActivities" id="showDeleteAllActivities" type="checkbox"
                        {% if settings.showDeleteAllActivities %} checked {% endif %}>
            </div>
        </div>

        <div style="display: inline-block">
            <div>
                <label for="onSounds">Звуки</label>
                <input name="onSounds" id="onSounds" type="checkbox"
                        {% if settings.onSounds %} checked {% endif %}>
            </div>
            <div>
                <label for="showTabs">Проценты</label>
                <input name="showTabs" id="showTabs" type="checkbox"
                        {% if settings.showTabs %} checked {% endif %}>
            </div>
            <div>
                <label for="showOpenAllGroups">Открытие/закрытие групп</label>
                <input name="showOpenAllGroups" id="showOpenAllGroups" type="checkbox"
                        {% if settings.showOpenAllGroups %} checked {% endif %}>
            </div>
            <div>
                <label for="showActivityDayLight">Выделение активности и дня</label>
                <input name="showActivityDayLight" id="showActivityDayLight" type="checkbox"
                        {% if settings.showActivityDayLight %} checked {% endif %}>
            </div>
            <div>
                <label for="showRowColumnLight">Выделение строки и столбца</label>
                <input name="showRowColumnLight" id="showRowColumnLight" type="checkbox"
                        {% if settings.showRowColumnLight %} checked {% endif %}>
            </div>
        </div>

        <div>
            <label for="selectFade">Пропадание при выполнении привычки</label>
            <select name="selectFade" id="selectFade">
                <option {% if settings.vanishing == 'off' %}selected{% endif %} value="off">Выключено</option>
                <option {% if settings.vanishing == 'sharp' %}selected{% endif %} value="sharp">Резко</option>
                <option {% if settings.vanishing == 'smooth' %}selected{% endif %} value="smooth">Плавно</option>
            </select>
        </div>

        <hr style="margin-top: 15px;">
        <input id="data" name="data">
    </form>

    <button class="button-6" role="button" onclick="btnSaveSettings();" style="background-color:#dfffdf;">Сохранить</button>

    <form id="closeDialog" method="dialog" style="margin-right: 35px;">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>

    <a href="#" class="button-6 jsonBtn" id="downloadJson">
        <img src="https://cdn-icons-png.flaticon.com/512/4239/4239049.png" height=16px width=16px alt="Download" class="icon"> JSON
    </a>

</dialog>  <!-- Диалоговое окно настроек сайта -->



<style>
    .toolbar {
        display: flex;
        gap: 14px; /* больше воздуха между кнопками */
        margin-bottom: 10px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }

    .toolbar button {
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        border-radius: 20%;

        background: #ffffff;
        color: #444;

        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0px 1px 2px 1px rgba(34, 60, 80, 0.1);

        transition:
            background-color 0.2s ease,
            color 0.2s ease,
            box-shadow 0.2s ease,
            transform 0.12s ease;
    }

    .toolbar button i {
        font-size: 18px;
    }

    .toolbar button:hover {
        background: #f3f5f8;
        color: #000;
        box-shadow: 0px 1px 3px 2px rgba(34, 60, 80, 0.1);
    }

    .toolbar button:active {
        transform: translateY(1px);
        box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .toolbar button:focus-visible {
        outline: 2px solid #4a90e2;
        outline-offset: 3px;
    }

    /* Специальные цвета для новых кнопок */
    #deleteAll {
        background-color: #ffdfdf;
        color: #a00;
    }

    #deleteAll:hover {
        background-color: #fbbcbc;
        color: #700;
    }

    #openAll {
        background-color: #dffffa;
        color: #055;
    }

    #openAll:hover {
        background-color: #bce7f7;
        color: #033;
    }

    .calendar-button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 20%;

    background: #ffffff;
    color: #444;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 1px 2px 1px rgba(34, 60, 80, 0.1);

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.12s ease;
    }

    .calendar-button:hover {
        background: #f3f5f8;
        color: #000;
        box-shadow: 0px 1px 3px 2px rgba(34, 60, 80, 0.1);
    }

    .calendar-button:active {
        transform: translateY(1px);
        box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .calendar-button:focus-visible {
        outline: 2px solid #4a90e2;
        outline-offset: 3px;
    }

    /* Специальный цвет для кнопки создания активностей */
    #btnActLastMonth {
        background-color: #e6f4ff;
        color: #045;
    }

    #btnActLastMonth:hover {
        background-color: #cfe8ff;
        color: #023;
    }
    .modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.2);
    justify-content: center;
    align-items: center;
        z-index: 1000;
    }

    .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    scale: 1.5;
    }
    
    .jsonBtn {
        text-decoration: none;
        color: black;
        padding: 2px 5px;
    }
</style>

<div id="divButtons" class="toolbar">

    <button id="buttonSettings" type="button" title="Настройки" onclick="window['some-modal-id'].showModal();" aria-controls="some-modal-id">
        <i class="fa-solid fa-gear"></i>
    </button>

    <button id="screenShot" type="button" title="Сделать скриншот">
        <i class="fa-solid fa-camera"></i>
    </button>

    <button id="hideActivities" type="button" title="Скрыть для фото">
        <i class="fa-solid fa-eye-slash"></i>
    </button>

    <button id="hideCompleteActivities" type="button" title="Показать выполненные">
        <i class="fa-solid fa-eye"></i>
    </button>

    <button id="deleteAll" class="button-6" role="button" style="display:{% if range_activities and settings.showDeleteAllActivities %}flex;{% else %}none;{% endif %}" title="Очистить все активности">
        <i class="fa-solid fa-trash"></i>
    </button>

    <button id="openAll" class="button-6" role="button" style="display:{% if range_activities and settings.showOpenAllGroups %}flex;{% else %}none;{% endif %}" title="Раскрыть/свернуть группы">
        <i class="fa-solid fa-folder-open"></i>
    </button>

    {% if settings.showCalendar %}
    <button type="button" class="calendar-button" onclick="openModal()">
        <i class="fa-solid fa-calendar"></i>
    </button>

    <div id="calendarModal" class="modal" onclick="onModalClick(event)">
        <div class="modal-content">
            <form id="chooseDate" action="{% url 'by_date' date %}" method="post">
                {% csrf_token %}
                <input type="month" name="chooseDate" min="2020-01" max="2030-12" value="{{ date }}">
            </form>
        </div>
    </div>
    {% endif %}

    <form action="{% url 'create_last_activities' date %}" method="post" style="display:{% if not range_activities %}inline;{% else %}none;{% endif %}">
    {% csrf_token %}
        <button id="btnActLastMonth" type="submit" class="calendar-button" title="Создать активности прошлого месяца">
            <i class="fa-solid fa-clock-rotate-left"></i>
        </button>
    </form>

</div>

<script>
function vibrateOrHaptic() {
    if (navigator.vibrate) {
        navigator.vibrate([100, 50, 100]);
        return;
    }

    let el = document.createElement('div');
    let id = Math.random().toString(36).slice(2);
    el.innerHTML = `<input type="checkbox" id="`+id+`" switch /><label for="`+id+`"></label>`;
    el.setAttribute("style", "display:none !important;opacity:0 !important;visibility:hidden !important;");
    document.querySelector('body').appendChild(el);
    el.querySelector('label').click();
    setTimeout(function(){ el.remove(); }, 1500);
}
</script>



<dialog id="dialog" class="modalActivity">
    <div class="modal__header">
        <h3 class="dialog__title elementActivitySettings"></h3>
        <img onclick="$('#closeSettingsActivity').click();" src="{% static 'cansel.svg' %}" width="25" height="25" alt="" style="float:right;">
    </div>
    <hr color="#c7c7c7" style="margin: 0;">
    <form id="formActivitySettings" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <input class="elementActivitySettings" type="hidden" name="activityPk"/>
        <div>
            <label id="activityNameLabel" for="activityName">Название группы:</label>
            <div style="margin-bottom: 7px;"></div>
            <input class="elementActivitySettings inputSettings" name="activityName" id="activityName" type="text">
        </div>
        <div class="hideOn">
            <label id="hideOnLabel" for="hideOn">Добавить группу в скрытые</label>
            <input name="hideOn" id="hideOn" type="checkbox" class="elementActivitySettings">
        </div>
        <hr id="upHr" color="#ffffff" style="margin: 20px;">
        <div style="display: flex; justify-content: space-between">
            <label for="colorBackgroundForm">Цвет заливки:</label>
            <div style="margin-bottom: 7px;"></div>
            <input style="margin-right: 20px;" id="colorBackgroundForm" name="backgroundColor" class="colorBackgroundForm elementActivitySettings" type="color">
            <input id="colorBackgroundFormText" class="inputSettingsColor" maxlength="7" type="text">
        </div>
        <div style="display: flex; justify-content: space-between">
            <label for="colorTextForm">Цвет текста:</label>
            <div style="margin-bottom: 7px;"></div>
            <input style="margin-right: 20px;" id="colorTextForm" name="color" class="colorTextForm elementActivitySettings" type="color">
            <input id="colorTextFormText" class="inputSettingsColor" maxlength="7" type="text">
        </div>
        <div class="repaintActivities">
            <label for="choiceColor">Перекрасить:</label>
            <div style="margin-bottom: 7px;"></div>
            <select id="choiceColor" name="saveWithColor" class="selectColor selectPicker">
                <option value="false">Только цвет группы</option>
                <option value="true">Цвет группы и цвет её активностей</option>
            </select>
        </div>
        <hr id="downHr" color="#ffffff" style="margin: 20px;">
        <div class="beginDay">
            <label for="beginDay">День начала:</label>
            <input name="beginDay" id="beginDay" type="number" min="1" max="{{ days }}" class="elementActivitySettings inputSettingsColor">
        </div>
        <div class="endDay">
            <label for="endDay">День конца:</label>
            <input name="endDay" id="endDay" type="number" min="1" max="{{ days }}" class="elementActivitySettings inputSettingsColor">
        </div>
        <div class="addActivityToGroup">Привязать активности к группе:</div>
        <div class="grid-container">
            {% for activity in range_activities %}
                {% if not activity.isGroup %}
                    <div class="activityCell marquee"><span class="spanActivityName">{{ activity.name }}</span>
                        <label for="activityToGroup{{ activity.pk }}"></label>
                        <input id="activityToGroup{{ activity.pk }}" class="elementActivitySettings" style="display: none" type="checkbox" name="{{ activity.pk }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <input type="hidden" id="inputCells" name="onOffCells">
        <div class="activateDayOfActivity">Выбрать дни активности:</div>
        <div class="onOffWeekdays">
            {% for day in weekdays.keys %}
                <p class="calendarWeek" id="weekday{{ forloop.counter }}" data-day="{{ day }}">{{ day }}</p>
            {% endfor %}
        </div>
        <div class="onOffDaysDiv">
            {% for week in calendar %}
                <div style="display: flex">
                    {% for day in week %}
                        {% if day.month == month %}
                            <p id="day{{ day.day }}" class="calendarDay thisDay">{{ day.day }}</p>
                        {% else %}
                            <p class="calendarDay">{{ day.day }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>
    <hr color="#ffffff" style="margin: 0;">
    <div style="padding: 15px">
    <button class="button-save" onclick="submitActivitySettings();" role="button">Сохранить изменения</button>
    </div>
    <button class="button-6" onclick="submitActivitySettings('default');" role="button" style="background-color:#dfffdf;display:none;">Сохранить</button>
    <button id="saveWithColor" onclick="submitActivitySettings('saveWithColor');" class="button-6" role="button" style="background-color:#fffcdf; width: auto; display:none;">Сохранить с переносом цвета</button>
    <form style="display: none" method="dialog" id="closeDialog">
        <button id="closeSettingsActivity" class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно настроек группы/активности -->

<dialog id="dialogHead" class="modalColors">
    <div class="modal__header">
    <h3 class="dialog__title dialogHeadSettings">Глобальные настройки цвета</h3>
    </div>
    <hr>
    <form id="formColorSettings" action="{% url 'global_colors' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="tableHeadColor*changeParagraph">Цвет фона заголовка</label>
            <input name="tableHeadColor" id="tableHeadColor*changeParagraph" type="color"
                   value="{{ settings.tableHeadColor }}">
        </div>
        <div>
            <label for="tableHeadColorWeekend">Цвет фона выходных</label>
            <input name="tableHeadColorWeekend" id="tableHeadColorWeekend" type="color"
                   value="{{ settings.tableHeadColorWeekend }}">
        </div>
        <div>
            <label for="tableHeadTextColor*changeParagraph">Цвет текста заголовка</label>
            <input name="tableHeadTextColor" id="tableHeadTextColor*changeParagraph"
                   type="color" value="{{ settings.tableHeadTextColor }}">
        </div>
        <div>
            <label for="backgroundColor">Цвет заднего фона сайта</label>
            <input name="backgroundColor" id="backgroundColor" type="color"
                   value="{{ settings.backgroundColor }}">
        </div>
        <div>
            <label for="rowColumnLight">Цвет выделения строки и столбца</label>
            <input name="rowColumnLight" id="rowColumnLight" type="color"
                   value="{{ settings.rowColumnLight }}">
        </div>

    </form>
    <hr>
    <div id="buttonsFooter">
    <button class="button-6" onclick="document.querySelector('form[id=formColorSettings]').submit();"
            role="button" style="background-color:#dfffdf;">Сохранить</button>
    <form method="dialog" id="closeDialog">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
        </div>
</dialog>  <!-- Диалоговое окно глобальных настроек цвета -->

<dialog id="dialogCell">
    <h3 class="dialog__title dialogHeadSettings">Настройка клетки</h3>
    <hr>
    <form id="formCellCommentSettings" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="symbolsOnCell">Надпись в клетке</label>
            <input id="symbolsOnCell" name="symbols" type="text">
        </div>
        <div>
            <label for="commentOnCell">Комментарий в клетке</label>
            <textarea id="commentOnCell" name="comment"></textarea>
        </div>
        <input id="cellNum" type="hidden" name="cell">
    </form>
    <hr>
    <button class="button-6" onclick="document.querySelector('form[id=formCellCommentSettings]').submit();"
            role="button" style="background-color:#dfffdf;">Сохранить</button>
    <form method="dialog" id="closeDialog">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно текста клетки -->

<style>
    .tabs {
        font-size: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .tabs > input[type="radio"] {
        display: none;
    }

    .tabs > div {
        /* скрыть контент по умолчанию */
        display: none;
        border: 1px solid #e0e0e0;
        padding: 10px 15px;
        font-size: 16px;
    }

    /* отобразить контент, связанный с выбранной радиокнопкой (input type="radio") */
    #tab-btn-1:checked ~ #content-1,
    #tab-btn-2:checked ~ #content-2,
    #tab-btn-3:checked ~ #content-3,
    #tab-btn-4:checked ~ #content-4 {
        display: block;
    }

    .tabs > label {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        padding: 2px 8px;
        font-size: 16px;
        line-height: 1.5;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
        cursor: pointer;
        position: relative;
        top: 1px;
    }

    .tabs > label:not(:first-of-type) {
        border-left: none;
    }

    .tabs > input[type="radio"]:checked + label {
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }
</style>