{% load static %}

<dialog class="dialog" id="some-modal-id">
    <h3 class="dialog__title">Настройки</h3>
    <hr>
    <p></p>
    <form id="settingsGlobal" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <div>
        <label for="selectFont">Шрифт</label>
        <select id="selectFont" name="selectFont" style="margin-left: 10px;">
            <option {% if settings.fontFamily == 'Consolas' %}selected{% endif %} style="font-family: 'Consolas', serif" name="Consolas">Consolas</option>
            <option {% if settings.fontFamily == 'Montserrat' %}selected{% endif %} style="font-family: 'Montserrat', serif" name="Montserrat">Montserrat</option>
            <option {% if settings.fontFamily == 'Montserrat Alternates' %}selected{% endif %} style="font-family: 'Montserrat Alternates', serif" name="Montserrat Alternates">Montserrat Alternates</option>
            <option {% if settings.fontFamily == 'Georgia' %}selected{% endif %} style="font-family: 'Georgia', serif" name="Georgia">Georgia</option>
            <option {% if settings.fontFamily == 'JetBrains Mono' %}selected{% endif %} style="font-family: 'JetBrains Mono', serif" name="JetBrains Mono">JetBrains Mono</option>
            <option {% if settings.fontFamily == 'Arial' %}selected{% endif %} style="font-family: 'Arial', serif" name="Arial">Arial</option>
            <option {% if settings.fontFamily == 'Courier New' %}selected{% endif %} style="font-family: 'Courier New', serif" name="Courier New">Courier New</option>
            <option {% if settings.fontFamily == 'Lucida Console' %}selected{% endif %} style="font-family: 'Lucida Console', serif" name="Lucida Console">Lucida Console</option>
            <option {% if settings.fontFamily == 'Trebuchet MS' %}selected{% endif %} style="font-family: 'Trebuchet MS', serif" name="Trebuchet MS">Trebuchet MS</option>
            <option {% if settings.fontFamily == 'Istok Web' %}selected{% endif %} style="font-family: 'Istok Web', serif" name="Istok Web">Istok Web</option>
            <option {% if settings.fontFamily == 'Roboto Mono' %}selected{% endif %} style="font-family: 'Roboto Mono', serif" name="Roboto Mono">Roboto Mono</option>
            <option {% if settings.fontFamily == 'Inter' %}selected{% endif %} style="font-family: 'Inter', serif" name="Inter">Inter</option>
            <option {% if settings.fontFamily == 'Ubuntu' %}selected{% endif %} style="font-family: 'Ubuntu', serif" name="Ubuntu">Ubuntu</option>
            <option {% if settings.fontFamily == 'Comic Sans MS' %}selected{% endif %} style="font-family: 'Comic Sans MS', serif" name="Comic Sans MS">Comic Sans MS</option>
        </select>
        </div>

        <div>
            <div>
                <label for="enableSortTable">Перетаскивание строк</label>
                <input name="radioSettings" id="enableSortTable" type="radio" value="sort"
                        {% if settings.enableSortTable %} checked {% endif %}>
            </div>
            <div>
                <label for="enableOpenCloseGroups">Открытие/закрытие групп</label>
                <input name="radioSettings" id="enableOpenCloseGroups" type="radio" value="group"
                        {% if settings.enableOpenCloseGroups %} checked {% endif %}>
            </div>
        </div>

        <div style="display: inline-block">
            <div>
                <label for="showCalendar">Календарь</label>
                <input name="showCalendar" id="showCalendar" type="checkbox"
                        {% if settings.showCalendar %} checked {% endif %}>
            </div>
            <div>
                <label for="showCreateActivityGroup">Создание групп</label>
                <input name="showCreateActivityGroup" id="showCreateActivityGroup" type="checkbox"
                        {% if settings.showCreateActivityGroup %} checked {% endif %}>
            </div>
            <div>
                <label for="showCreateActivity">Создание активностей</label>
                <input name="showCreateActivity" id="showCreateActivity" type="checkbox"
                        {% if settings.showCreateActivity %} checked {% endif %}>
            </div>
            <div>
                <label for="showDeleteActivity">Удаление активностей</label>
                <input name="showDeleteActivity" id="showDeleteActivity" type="checkbox"
                        {% if settings.showDeleteActivity %} checked {% endif %}>
            </div>
            <div>
                <label for="showDeleteAllActivities">Удаление всех активностей</label>
                <input name="showDeleteAllActivities" id="showDeleteAllActivities" type="checkbox"
                        {% if settings.showDeleteAllActivities %} checked {% endif %}>
            </div>
        </div>

        <div style="display: inline-block">
            <div>
                <label for="onSounds">Звуки</label>
                <input name="onSounds" id="onSounds" type="checkbox"
                        {% if settings.onSounds %} checked {% endif %}>
            </div>
            <div>
                <label for="showTabs">Вкладки</label>
                <input name="showTabs" id="showTabs" type="checkbox"
                        {% if settings.showTabs %} checked {% endif %}>
            </div>
            <div>
                <label for="showOpenAllGroups">Открытие/закрытие групп</label>
                <input name="showOpenAllGroups" id="showOpenAllGroups" type="checkbox"
                        {% if settings.showOpenAllGroups %} checked {% endif %}>
            </div>
            <div>
                <label for="showActivityDayLight">Выделение активности и дня</label>
                <input name="showActivityDayLight" id="showActivityDayLight" type="checkbox"
                        {% if settings.showActivityDayLight %} checked {% endif %}>
            </div>
            <div>
                <label for="showRowColumnLight">Выделение строки и столбца</label>
                <input name="showRowColumnLight" id="showRowColumnLight" type="checkbox"
                        {% if settings.showRowColumnLight %} checked {% endif %}>
            </div>
        </div>
        <p></p>
        <hr>
        <input id="data" name="data">
    </form>
    <button class="button-6" role="button" onclick="btnSaveSettings();"
            style="background-color:#dfffdf;">Сохранить</button>
    <form id="closeDialog" method="dialog" style="margin-right: 35px;">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>

    <button onclick="location.href='{% url 'user_logout' %}';" class="button-6" style="width: auto; float: right">Выйти</button>
<div style="float: right; margin-right: 10px">
    {% if not request.user.is_superuser %}
        {{ request.user.username }}
    {% else %}
        staff
    {% endif %}
</div>
</dialog>  <!-- Диалоговое окно настроек сайта -->

<button id="buttonSettings" type="button"
        onclick="window['some-modal-id'].showModal();" aria-controls="some-modal-id">
    <img width="16" height="16" src="{% static 'settings.png' %}"></button>  <!-- Кнопка настроек -->

{% if '/m' in request.path %}
<button id="buttonSettings" type="button" style="margin-right: 10px;"
        onclick="location.href = '{% url 'by_date' date %}';">
    <img width="16" height="16" src="{% static 'pc.png' %}"></button>  <!-- Компьютерная версия -->
{% else %}
<button id="buttonSettings" type="button" style="margin-right: 10px;"
        onclick="location.href = '{% url 'mobile_by_date' date %}';">
    <img width="16" height="16" src="{% static 'phone.png' %}"></button>  <!-- Мобильная версия -->
{% endif %}
<button id="screenShot" type="button" style="margin-right: 10px;">
    <img width="16" height="16" src="{% static 'photocam.png' %}"></button>  <!-- Кнопка скриншота -->

<dialog id="dialog" class="modalActivity">
<div class="modal__header">
    <h3 class="dialog__title elementActivitySettings"></h3>
    <hr>
</div>
    <form id="formActivitySettings" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="saveWithColor">
        <input class="elementActivitySettings" type="hidden" name="activityPk"/>
        <div>
            <label for="colorBackgroundForm">Цвет активности</label>
            <input id="colorBackgroundForm" name="backgroundColor" class="colorBackgroundForm elementActivitySettings" type="color">
            <input id="colorBackgroundFormText" maxlength="7" type="text">
        </div>
        <div>
            <label for="colorTextForm">Цвет текста</label>
            <input id="colorTextForm" name="color" class="colorTextForm elementActivitySettings" type="color">
            <input id="colorTextFormText" maxlength="7" type="text">
        </div>
        <div>
            <label for="activityName">Название</label>
            <input class="elementActivitySettings" name="activityName" id="activityName" type="text">
        </div>
        <div class="beginDay">
            <label for="beginDay">День начала</label>
            <input name="beginDay" id="beginDay" type="number" min="1" max="{{ days }}" class="elementActivitySettings">
        </div>
        <div class="endDay">
            <label for="endDay">День конца</label>
            <input name="endDay" id="endDay" type="number" min="1" max="{{ days }}" class="elementActivitySettings">
        </div>
        <hr class="grid-container">
        <div class="grid-container">
            {% for activity in range_activities %}
                {% if not activity.isGroup %}
                    <div class="activityCell">
                        <label for="activityToGroup{{ activity.pk }}">{{ activity.name }}</label>
                        <input id="activityToGroup{{ activity.pk }}" class="elementActivitySettings" type="checkbox" name="{{ activity.pk }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <input type="hidden" id="inputCells" name="onOffCells">
        <div class="onOffDaysDiv">
            {% for day in onOffDays %}
                <p id="day{{ forloop.counter }}">{{ forloop.counter }}</p>
                {% if day == 13 %}
                    <p></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="onOffWeekdays">
            {% for day in weekdays.keys %}
                <p style="background-color: #ffffff" id="weekday{{ forloop.counter }}" data-day="{{ day }}">{{ day }}</p>
            {% endfor %}
        </div>
    </form>
    <hr>
    <button class="button-6" onclick="submitActivitySettings('default');" role="button" style="background-color:#dfffdf;">Сохранить</button>
    <button id="saveWithColor" onclick="submitActivitySettings('saveWithColor');" class="button-6" role="button" style="background-color:#fffcdf; width: auto">Сохранить с переносом цвета</button>
    <form method="dialog" id="closeDialog">
        <button id="closeSettingsActivity" class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно настроек группы/активности -->

<dialog id="dialogHead" class="modalColors">
    <div class="modal__header">
    <h3 class="dialog__title dialogHeadSettings">Глобальные настройки цвета</h3>
    <hr>
    </div>
    <form id="formColorSettings" action="{% url 'global_colors' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="tableHeadColor*changeParagraph">Цвет фона заголовка</label>
            <input name="tableHeadColor" id="tableHeadColor*changeParagraph" type="color"
                   value="{{ settings.tableHeadColor }}">
        </div>
        <div>
            <label for="tableHeadColorWeekend">Цвет фона выходных</label>
            <input name="tableHeadColorWeekend" id="tableHeadColorWeekend" type="color"
                   value="{{ settings.tableHeadColorWeekend }}">
        </div>
        <div>
            <label for="tableHeadTextColor*changeParagraph">Цвет текста заголовка</label>
            <input name="tableHeadTextColor" id="tableHeadTextColor*changeParagraph"
                   type="color" value="{{ settings.tableHeadTextColor }}">
        </div>
        <div>
            <label for="backgroundColor">Цвет заднего фона сайта</label>
            <input name="backgroundColor" id="backgroundColor" type="color"
                   value="{{ settings.backgroundColor }}">
        </div>
        <div>
            <label for="rowColumnLight">Цвет выделения строки и столбца</label>
            <input name="rowColumnLight" id="rowColumnLight" type="color"
                   value="{{ settings.rowColumnLight }}">
        </div>

    </form>
    <hr>
    <button class="button-6" onclick="document.querySelector('form[id=formColorSettings]').submit();"
            role="button" style="background-color:#dfffdf;">Сохранить</button>
    <form method="dialog" id="closeDialog">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно глобальных настроек цвета -->

<dialog id="dialogCell">
    <h3 class="dialog__title dialogHeadSettings">Настройка клетки</h3>
    <hr>
    <form id="formCellCommentSettings" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="symbolsOnCell">Надпись в клетке</label>
            <input id="symbolsOnCell" name="symbols" type="text">
        </div>
        <div>
            <label for="commentOnCell">Комментарий в клетке</label>
            <textarea id="commentOnCell" name="comment"></textarea>
        </div>
        <input id="cellNum" type="hidden" name="cell">
    </form>
    <hr>
    <button class="button-6" onclick="document.querySelector('form[id=formCellCommentSettings]').submit();"
            role="button" style="background-color:#dfffdf;">Сохранить</button>
    <form method="dialog" id="closeDialog">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно текста клетки -->
