{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Habitus</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <style>
        body * {
            font-family: Montserrat, serif;
        }
    </style>
</head>
<body>
<section class="wrapper">
    <div class="form signup">
        <header>Регистрация</header>
        <form method="post" action="{% url 'start' %}">
            {% csrf_token %}
            {% if messages %}
                <div style="padding: 3px;border-radius: 3px; margin: auto; color:#ff0000;background-color:rgb(255,255,255);">{% for message in messages %}{{ message }}{% endfor %}</div>
            {% else %}
                <div style="opacity: 0.8; margin: auto; color:#ffffff;">Логин будет записан маленькими буквами</div>
            {% endif %}
            <input type="hidden" name="type_form" value="registration_form">
            <input type="text" id="id_username" maxlength="150" name="username" placeholder="Логин" required/>
            <input type="text" id="id_email" maxlength="254" name="email" placeholder="Почта" required/>
            <input type="password" id="id_password1" autocomplete="new-password" name="password1" placeholder="Пароль" required/>
            <input type="submit" value="Создать аккаунт"/>
        </form>
    </div>

    <div class="form login">
        <header>Вход</header>
        <form method="post" action="{% url 'start' %}">
            {% csrf_token %}
            <div style="opacity: 0.5; margin: auto">Логин писать маленькими буквами</div>
            <input type="hidden" name="type_form" value="login_form">
            <input type="text" id="id_username" maxlength="150" name="username" placeholder="Логин" required/>
            <input type="password" id="id_password" name="password" placeholder="Пароль" required/>
            <a href="https://t.me/arhilolo">Забыли пароль?</a>
            <input type="submit" value="Войти в аккаунт"/>
        </form>
    </div>

    <script>
        const wrapper = document.querySelector(".wrapper"),
            signupHeader = document.querySelector(".signup header"),
            loginHeader = document.querySelector(".login header");

        loginHeader.addEventListener("click", () => {
            wrapper.classList.add("active");
        });
        signupHeader.addEventListener("click", () => {
            wrapper.classList.remove("active");
        });
    </script>
</section>
</body>
</html>
