{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Habitus</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        body * {
            font-family: Montserrat, serif;
        }
        textarea {
            height: 100px !important;
            border-radius: 5px !important;
        }
    </style>
</head>
<body>
<section class="wrapper" style="background: #4058f4; padding: 25px 25px 50px 25px;">
    <div class="form signup">
        <header>Опрос</header>
        <form method="post" action="{% url 'questionnaire' %}" style="gap: 0; margin: 0;">
            {% csrf_token %}
            <div style="opacity: 0.8; margin: 15px 0; color:#ffffff;">Можно оставить пустым, но если будешь отвечать, то прошу как можно подробнее, это поможет сделать сайт лучше</div>
            <div style="margin-top: 15px; margin-left: 0; color:#ffffff;">1. Удобно ли тебе пользоваться моим сайтом? Расскажи, что бы ты добавил или улучшил в нём</div>
            <textarea class="form-control" type="text" id="first" name="first"></textarea>
            <div style="margin-top: 15px; margin-left: 0; color:#ffffff;">2. Какой версией компьютерной или мобильной ты чаще пользуешься? Удобно ли пользоваться с телефона?</div>
            <textarea class="form-control" type="text" id="second" name="second"></textarea>
            <div style="margin-top: 15px; margin-left: 0; color:#ffffff;">3. Опиши в целом опыт пользования сайтом, помогает ли он тебе?</div>
            <textarea class="form-control" type="text" id="third" name="third"></textarea>
            <div style="margin-top: 15px; margin-left: 0; color:#ffffff;">4. Встречал ли ты в последнее время баги? Опиши, если да</div>
            <textarea class="form-control" type="text" id="fourth" name="fourth"></textarea>
            <div style="margin-top: 15px; margin-left: 0; color:#ffffff;">5. Можешь написать, что душе угодно ( ͡° ͜ʖ ͡°)</div>
            <textarea class="form-control" type="text" id="fifth" name="fifth"></textarea>
            <input type="submit" value="Ответить"/>
        </form>
    </div>

</section>
</body>
</html>
