.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    color: #333;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-size: 1.5rem;
}

.navbar .navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar .navbar-toggle {
        display: block;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-collapse {
        display: none;
    }
}

.navbar .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .navbar-nav .nav-item {
    margin-left: 1rem;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #3A75C4;
    border-radius: 5px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    background-color: #5f99e8;
}

.navbar-collapse.open {
  display: flex;
}
