body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
}

.error-page h1 {
    font-size: 6em;
    font-weight: bold;
}

.error-page h2 {
    font-size: 3em;
}

.error-page p {
    font-size: 1.2em;
}

.error-page a {
    color: #d14;
    text-decoration: none;
    font-weight: bold;
}

.error-page a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .error-page h1 {
        font-size: 4em;
    }

    .error-page h2 {
        font-size: 2em;
    }

    .error-page p {
        font-size: 1em;
    }
}
