.app-header {
    background-color: #eee; /* Тёмно-серый фон */
    position: fixed; /* Фиксированное положение */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbarTop {
    margin-left: -200px;
}

.navbarTop ul {
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    margin: 0;
    text-align: center; /* Центрируем навигацию */
}

.navbarTop ul li {
    display: inline-block; /* Располагаем ссылки в ряд */
}

.navbarTop ul li a {
    display: block; /* Блочное отображение для области клика */
    padding: 10px 15px; /* Паддинг для увеличения доступной области клика */
    color: #333; /* Белый цвет текста */
    text-decoration: none; /* Убираем подчёркивание */
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}

.navbarTop ul li a:hover {
    background-color: #ddd; /* Чуть более светлый фон при наведении */
}

/* Добавляем отступ для основного контента чтобы он не перекрывался header */
body {
    padding-top: 40px;
}

@media (max-width: 768px) {
    .navbarTop {
        margin-left: 0;
    }
}
