<button type="button" class="theme-toggle" title="Переключить тему: системная, светлая, тёмная">
  <svg aria-hidden="true" class="theme-icon-when-auto"><use href="#icon-auto"></use></svg>
  <svg aria-hidden="true" class="theme-icon-when-light"><use href="#icon-sun"></use></svg>
  <svg aria-hidden="true" class="theme-icon-when-dark"><use href="#icon-moon"></use></svg>
  <span>Тема:</span>
  <span class="theme-label-when-auto">Системная</span>
  <span class="theme-label-when-light">Светлая</span>
  <span class="theme-label-when-dark">Тёмная</span>
</button>
