{% extends 'general_app/base.html' %}
{% load static %}

{% block title %}Личная страница{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'general_app/css/about-main.css' %}">
{% endblock %}

{% block content %}
<div class="profile-page__container container">
    <div class="row justify-content-center">
        <div class="col-md-8 profile-page__header">
            <img src="{% static 'iam.jpg' %}" alt="Я" class="profile-page__image">
            <h1 class="profile-page__name">Дмитрий</h1>
            <p class="profile-page__skills lead">
                <span class="profile-page__skill">1С</span>
                <span class="profile-page__skill">Django</span>
                <span class="profile-page__skill">Саморазвитие</span>
            </p>
        </div>
    </div>

    <div class="profile-page__grid card-grid">
        <div class="profile-page__card card">
            <div class="profile-page__card-body card-body">
                <h3 class="profile-page__card-title card-title">Обо мне</h3>
                <p class="profile-page__card-text card-text">
                    Живу в Ярославле, окончил университет ЯГТУ (09.03.02). 1С-разработка 2 года, 4 года Django-разработка (как
                    хобби), 3.5 года в теме саморазвития.
                </p>
            </div>
        </div>
        <div class="profile-page__card card">
            <div class="profile-page__card-body card-body">
                <h3 class="profile-page__card-title card-title">Благодарности</h3>
                <p class="profile-page__card-text card-text">
                    <b>Всем участникам Простого Сообщества</b>, которые непосредственно участвовали в тестировании и
                    обратной связи.
                    Особая благодарность <b>Арине</b>, которая на чистом энтузиазме помогла сделать дизайн для некоторых
                    окошек в
                    <a href="{% url 'index' %}">Habitus</a>.
                </p>
            </div>
        </div>
        <div class="profile-page__card card">
            <div class="profile-page__card-body card-body">
                <h3 class="profile-page__card-title card-title">Про Productivum</h3>
                <p class="profile-page__card-text card-text">
                    Экосистема Productivum начиналась с трекера привычек, который ныне называется
                    <a href="{% url 'index' %}">Habitus</a>. Основная идея была взята с сайта <a
                        href="https://hwyd.me">hwyd.me</a>.
                    Я же от себя добавил большое количество кастомизаций и возможность объединять привычки в группы.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}