{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>{% block title %}Productivum{% endblock %}</title>

    <!-- Общие стили -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <link href="{% static 'general_app/font.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'general_app/scroll.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block extra_css %}{% endblock %}

    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>
    {% block navbar %}
    {% if request.user_agent.is_mobile %}
    {% include 'navibarMobile.html' %}
    {% else %}
    {% include 'navibar.html' %}
    {% endif %}
    {% endblock %}

    {% block content %}{% endblock %}

    <!-- Общие скрипты -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock %}
    {% if user.is_authenticated %}
        {% include 'notifications/modal_snippet.html' %}
    {% endif %}
</body>

</html>