{% extends 'general_app/base.html' %}
{% load static %}

{% block title %}Productivum{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'general_app/font.css' %}">
<link rel="stylesheet" href="{% static 'general_app/home.css' %}">
<link rel="stylesheet" href="{% static 'general_app/scroll.css' %}">
<style>
    .feature:hover .custom-hr {
        background-color: #5f99e8;
    }

    .custom-hr {
        height: 1px;
        background-color: #888;
        margin: 8px 0;
    }

    .text-feature {
        text-align: center
    }

    h2 {
        margin-top: 8px;
    }

    h1,
    h2 {
        font-weight: 700;
        font-size: 32px;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <section class="intro">
        <h1>Добро пожаловать в нашу экосистему приложений!</h1>
        <p>Управляйте своими задачами, привычками и бюджетом в одном месте.</p>
    </section>
    <section class="section features">
        <article class="feature" id="hwyd">
            <h2>Habitus</h2>
            <p>
            <div class="text-feature">Трекер привычек
                <div class="custom-hr"></div>
                Создавайте и отслеживайте свои привычки для достижения целей.
            </div>
        </article>
        <article class="feature-locked" id="budget">
            <h2>Nummus</h2>
            <p>
            <div class="text-feature">Трекер бюджета
                <div class="custom-hr"></div>
                Контролируйте свои доходы и расходы для лучшего финансового планирования.
            </div>
        </article>
        <article class="feature" id="todoapp">
            <h2>Actus</h2>
            <p>
            <div class="text-feature">Трекер задач
                <div class="custom-hr"></div>
                Записывайте задачи и следите за их исполнением, чтобы ничего не упустить.
            </div>
        </article>
        <article class="feature-locked" id="knowledgebase">
            <h2>Mentis</h2>
            <div class="text-feature">База знаний
                <div class="custom-hr"></div>
                Идеальный ресурс для исследования, обучения и углубления знаний.
            </div>
        </article>
        <article class="feature" id="pomodorotimer">
            <h2>Focusi</h2>
            <div class="text-feature">Трекер концентрации
                <div class="custom-hr"></div>
                Используйте метод Помодоро для улучшения управления временем и повышения продуктивности.
            </div>
        </article>
        <article class="feature" id="mathtraining">
            <h2>Algeo</h2>
            <div class="text-feature">Математический тренажёр
                <div class="custom-hr"></div>
                Решайте математические примеры на скорость для поддержания мозговой активности.
            </div>
        </article>
    </section>
    <section class="section company-section">
        <h2>О компании Productivum</h2>
        <div class="company-content">
            <img src="{% static 'general_app/image.png' %}" alt="Фото Философа" class="philosopher-photo">
            <div class="company-text">
                <p>Компания Productivum укрепляет мост между древней мудростью и современной технологией, вдохновляясь
                    бесценными идеями великих мыслителей.</p>
                <p>Мы стремимся к гармонии в цифровом мире, где скорость и эффективность уравновешиваются обдуманностью
                    и стратегическим мышлением.</p>
                <p>Продуктивность — это искусство максимизации вашего потенциала. Наши решения помогают культивировать
                    самодисциплину и рациональность, ради достижения высоких результатов в работе и личной жизни.</p>
                <p>Присоединяйтесь к диалогу разумов с Productivum, и пусть каждый ваш день будет наполнен озарениями и
                    открытиями.</p>
            </div>
        </div>
    </section>
</main>
<footer class="footer-site">
    <p>&copy; 2025 - Productivum</p>
</footer>
{% endblock %}

{% block extra_js %}
<script>
    document.getElementById('hwyd').addEventListener('click', function () {
        window.location.href = '{% url 'index' %}';
    });
    document.getElementById('todoapp').addEventListener('click', function () {
        window.location.href = '{% url 'todos:index' %}';
    });
    document.getElementById('mathtraining').addEventListener('click', function () {
        window.location.href = '{% url 'mathtraining' %}';
    });
    document.getElementById('pomodorotimer').addEventListener('click', function () {
        window.location.href = '{% url 'pomodoro:base' %}';
    });
</script>
{% endblock %}