{% extends 'general_app/base.html' %}
{% load static %}

{% block title %}Math training{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'general_app/css/math-main.css' %}">
{% endblock %}

{% block content %}
<div class="math-training">
    <div class="math-training__card">
        <button class="math-training__button"
            onclick="window.location.href='{% url 'math_training_results' %}'">Таблица</button>

        <p class="math-training__timer" id="countdown"></p>
        <p class="math-training__problem" style="display:none;"></p>

        <input type="number" class="math-training__input" id="answer" disabled style="display:none;">

        <label for="maxProblems" class="math-training__label">Примеров:</label>
        <input type="number" class="math-training__input" id="maxProblems" value="10" placeholder="Примеров">

        <br>

        <label for="countdownValue" class="math-training__label">Отсчёт:</label>
        <input type="number" class="math-training__input" id="countdownValue" value="3" placeholder="Отсчёт">

        <button class="math-training__button math-training__button--start" id="startButton">Старт</button>

        <p class="math-training__timer" id="timer" style="display:none;">0.00</p>
        <p class="math-training__score" id="scoreCounter" style="display:none;">Решено: 0</p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'general_app/js/math-main.js' %}"></script>
{% endblock %}