<nav class="navbar">
    <div class="navbar-brand"><a href="{% url 'home' %}" style="color: #1b1b1b">Productivum</a></div>
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                {% if not 'profile' in request.path %}
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link"><span>{{ user.username }}</span></a>
                    </li>
                {% endif %}
                <form id="logout-form" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <li class="nav-item">
                        <a style="cursor: pointer" onclick="document.getElementById('logout-form').submit();"
                           class="nav-link">Выход</a>
                    </li>
                </form>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'entry' %}?type=register" class="nav-link">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'entry' %}?type=login" class="nav-link">Вход</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <button class="navbar-toggle" type="button">
        ☰
    </button>
</nav>
