{% load static %}
<script>
    function createTaskItem(taskName, taskTime, taskPriority, taskDate, taskDeadline, makePost, taskPk) {
        const taskItem = document.createElement('li');
        taskItem.classList.add('list-group-item', taskPriority, 'task-card');
        taskItem.setAttribute('data-pk', taskPk);

        const checkBox = document.createElement('input');
        checkBox.type = 'checkbox';
        checkBox.classList.add('form-check-input');

        const taskContent = document.createElement('div');

        const taskTitle = document.createElement('div');
        taskTitle.classList.add('task-title');
        taskTitle.textContent = taskName;

        const taskDetails = document.createElement('span');
        taskDetails.classList.add('task-details');
        taskDetails.textContent = `${taskDate} ${taskTime}`;

        const deadlineElement = document.createElement('div');
        if (taskDeadline !== 'None') {
            deadlineElement.classList.add('task-details');
            deadlineElement.textContent = taskDeadline;
        }

        const taskTags = document.createElement('div');
        taskTags.classList.add('task-tags');
        taskTags.textContent = 'Работа, Проект, Важное';

        const removeTaskBtn = document.createElement('span');
        removeTaskBtn.classList.add('remove-task-btn');
        removeTaskBtn.textContent = '×';

        taskContent.appendChild(taskTitle);
        taskContent.appendChild(taskDetails);

        if (taskDeadline !== 'None') {
            taskContent.appendChild(deadlineElement);
        }
        taskContent.appendChild(taskTags);

        taskItem.appendChild(checkBox);
        taskItem.appendChild(taskContent);
        taskItem.appendChild(removeTaskBtn);

        return taskItem;
    }

    let taskItem
    {% for task in all_tasks %}
        taskItem = createTaskItem('{{ task.name }}', '{{ task.time|date:'H:i' }}', '{{ task.priority }}', '{{ task.date|date:'j E' }}', '{{ task.deadline }}', false, '{{ task.pk }}');
        {% if task.done == False %}
            document.querySelector('#task-list-today').appendChild(taskItem);
        {% else %}
            taskItem.querySelector('.form-check-input').checked = true;
            document.querySelector('#task-list-done').appendChild(taskItem);
        {% endif %}
    {% endfor %}
</script>
<script>
    for (let task of document.querySelectorAll('li.list-group-item')) {
        const taskCheckbox = task.querySelector('input');
        let taskPk = $(taskCheckbox).parent().attr('data-pk');
        taskCheckbox.addEventListener("change", () => {
            let music, status;
            if (taskCheckbox.checked) {
                document.querySelector('#task-list-done').appendChild(task)
                music = new Audio("{% static 'on.MP3' %}");
                status = 'on';
            } else {
                document.querySelector('#task-list-today').appendChild(task)
                music = new Audio("{% static 'off.MP3' %}");
                status = 'off'
            }
            music.volume = 0.5;
            music.play();

            $.ajax({
                type: 'POST',
                url: '{% url 'test' %}',
                data:
                    {
                        taskPk: taskPk,
                        taskStatus: status,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    }
            })
        });

        const removeTaskBtn = task.querySelector('span.remove-task-btn')
        removeTaskBtn.addEventListener("click", () => {
            task.remove();
            $.ajax({
                type: 'POST',
                url: '{% url 'test' %}',
                data:
                    {
                        taskDelete: taskPk,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    }
            })
        });

    }

    document.querySelector('#add-task').addEventListener('click', function (evt) {
        const taskText = document.getElementById("task-name").value.trim();
        const taskTime = document.getElementById("task-time").value.trim();
        const taskPriority = document.getElementById("task-priority").value.trim();
        const taskDate = document.getElementById("task-date").value.trim();
        const taskDeadline = document.getElementById("task-deadline").value.trim();

        if (taskText) {
            addNewTask(taskText, taskTime, taskPriority, taskDate, taskDeadline, true);
            document.getElementById("task-name").value = "";
        }
    });

    function addNewTask(taskText, taskTime, taskPriority, taskDate, taskDeadline, makePost) {
        if (makePost) {
            $.ajax({
                type: 'POST',
                url: '{% url 'test' %}',
                data:
                    {
                        taskText: taskText,
                        taskTime: taskTime,
                        taskDate: taskDate,
                        taskPriority: taskPriority,
                        taskDeadline: taskDeadline,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    }
            })
        }
        setTimeout(function () {
            location.reload();
        }, 100)

        const taskListItem = document.createElement("li");
        taskListItem.classList.add("list-group-item");
        taskListItem.classList.add(taskPriority);

        const taskCheckbox = document.createElement("input");
        taskCheckbox.type = "checkbox";
        taskCheckbox.style.marginRight = "10px";
        taskCheckbox.style.cursor = "pointer";
        taskListItem.appendChild(taskCheckbox);

        if (!taskTime) {
            taskTime = ''
        } else {
            taskTime = ` | Время: ${taskTime}`
        }

        const dateStr = taskDate;
        const date = new Date(dateStr);

        const options = {
            day: "numeric",
            month: "long"
        };

        const formattedDate = date.toLocaleDateString("ru-RU", options);

        if (!taskDate) {
            taskDate = ''
        } else {
            taskDate = ` | Дата: ${formattedDate}`
        }

        const taskTextElement = document.createElement("span");
        taskTextElement.textContent = `${taskText}${taskTime}${taskDate}`;
        taskListItem.appendChild(taskTextElement);

        taskCheckbox.addEventListener("change", () => {
            if (taskCheckbox.checked) {
                taskTextElement.style.textDecoration = "line-through";
            } else {
                taskTextElement.style.textDecoration = "none";
            }
        });

        const removeTaskBtn = document.createElement("span");
        removeTaskBtn.classList.add("remove-task-btn");
        removeTaskBtn.innerHTML = "&times;";
        removeTaskBtn.addEventListener("click", () => taskListItem.remove());

        taskListItem.appendChild(removeTaskBtn);
        document.getElementById("task-list-today").appendChild(taskListItem);
    }
</script>
