/* Стили для select */
select {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

/* Стили для option */
option {
    background-color: #ffffff;
    color: #000000;
}

/* При наведении добавляем курсор-рука */
select:hover {
    cursor: pointer;
}

/* Делаем опцию активной при наведении */
option:hover {
    background-color: #495057;
}
