tfoot{
    color: wheat;
    font-size: 10px;
}

tfoot tr td div.number{
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}
