{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Button 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	
		<link rel="stylesheet" href="{% static 'bootstrap-buttons-15/css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap-buttons-15/css/style.css' %}">
  </head>
  <body>

		<section class="ftco-section" id="buttons">
			<div class="container">
				<div class="row mb-4">
					<div class="col-md-12">
						<h2 class="heading-section"> Button #05</h2>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12 mb-3">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-primary btn-block"><span>Like</span>
									<div class="icon d-flex align-items-center justify-content-center">
										<i class="ion-ios-heart"></i>
									</div>
								</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-secondary btn-block"><span>Delete</span>
									<div class="icon d-flex align-items-center justify-content-center">
										<i class="ion-ios-trash"></i>
									</div>
								</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-tertiary btn-block"><span>Send</span>
									<div class="icon d-flex align-items-center justify-content-center">
										<i class="ion-ios-paper-plane"></i>
									</div>
								</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-quarternary btn-block"><span>Download</span>
									<div class="icon d-flex align-items-center justify-content-center">
										<i class="ion-ios-cloud-download"></i>
									</div>
								</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-outline-primary btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-outline-secondary btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-outline-tertiary btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-outline-quarternary btn-block">Default</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12 mb-3">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-primary btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-secondary btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-tertiary btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-quarternary btn-block">Default</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 mb-2">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-outline btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-outline btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-outline btn-block">Default</button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-outline btn-block">Default</button>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-twitter text-left w-100 mb-3">
			              <i class="ion-logo-twitter mr-2"></i> Twitter
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-fb text-left w-100 mb-3">
			              <i class="ion-logo-facebook mr-2"></i> Facebook
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-dribbble text-left w-100 mb-3">
			              <i class="ion-logo-dribbble mr-2"></i> Find us on Dribbble
		            </button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-outline btn-twitter text-left w-100 mb-3">
			              <i class="ion-logo-twitter mr-2"></i> Twitter
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-outline btn-fb text-left w-100 mb-3">
			              <i class="ion-logo-facebook mr-2"></i> Facebook
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-outline btn-dribbble text-left w-100 mb-3">
			              <i class="ion-logo-dribbble mr-2"></i> Find us on Dribbble
		            </button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-twitter text-left w-100 mb-3">
			              <i class="ion-logo-twitter mr-2"></i> Twitter
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-round btn-fb text-left w-100 mb-3">
			              <i class="ion-logo-facebook mr-2"></i> Facebook
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-round btn-dribbble text-left w-100 mb-3">
			              <i class="ion-logo-dribbble mr-2"></i> Find us on Dribbble
		            </button>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn mb-2 mb-m-0 btn-round btn-outline btn-twitter text-left w-100 mb-3">
			              <i class="ion-logo-twitter mr-2"></i> Twitter
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-round btn-outline btn-fb text-left w-100 mb-3">
			              <i class="ion-logo-facebook mr-2"></i> Facebook
		            </button>
		            <button type="button" class="btn mb-2 mb-m-0 btn-round btn-outline btn-dribbble text-left w-100 mb-3">
			              <i class="ion-logo-dribbble mr-2"></i> Find us on Dribbble
		            </button>
							</div>
						</div>
					</div>
				</div>
				

				<div class="row mb-5">
					<div class="col-md-12">
						<h2 class="heading-section">
							<small>Dropdown Buttons</small>
						</h2>
						<div class="row">
							<div class="col-md-3">
								<div class="dropdown d-block">
								  <button class="btn mb-2 mb-m-0 btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Dropdown button
								  </button>
								  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
								    <a class="dropdown-item" href="#">Action</a>
								    <a class="dropdown-item" href="#">Another action</a>
								    <a class="dropdown-item" href="#">Something else here</a>
								  </div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dropdown d-block">
								  <button class="btn mb-2 mb-m-0 btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Dropdown button
								  </button>
								  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton2">
								    <a class="dropdown-item" href="#">Action</a>
								    <a class="dropdown-item" href="#">Another action</a>
								    <a class="dropdown-item" href="#">Something else here</a>
								  </div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dropdown d-block">
								  <button class="btn mb-2 mb-m-0 btn-tertiary btn-block dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Dropdown button
								  </button>
								  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton3">
								    <a class="dropdown-item" href="#">Action</a>
								    <a class="dropdown-item" href="#">Another action</a>
								    <a class="dropdown-item" href="#">Something else here</a>
								  </div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dropdown d-block">
								  <button class="btn mb-2 mb-m-0 btn-quarternary btn-block dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Dropdown button
								  </button>
								  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton4">
								    <a class="dropdown-item" href="#">Action</a>
								    <a class="dropdown-item" href="#">Another action</a>
								    <a class="dropdown-item" href="#">Something else here</a>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12">
						<h2 class="heading-section">
							<small>Group Buttons</small>
						</h2>
						<div class="row">
							<div class="col-md-6">
								<div class="btn-group mb-2 mb-md-0 btn-block">
								  <button type="button" class="btn btn-primary">Button 1</button>
								  <button type="button" class="btn btn-outline-primary">Outline Button</button>
								  <button type="button" class="btn btn-primary">Button 1</button>
								</div>
							</div>
							<div class="col-md-6">
								<div class="btn-group mb-2 mb-md-0 btn-block">
								  <button type="button" class="btn btn-secondary">Button 2</button>
								  <button type="button" class="btn btn-outline-secondary">Outline Button</button>
								  <button type="button" class="btn btn-secondary">Button 2</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-4">
						<h2 class="heading-section">
							<small>Checkboxes</small>
						</h2>
						<div class="checkbox-wrap w-100">
							<div class="checkbox checkbox-primary">
	              <label><input class="styled" type="checkbox" checked><span>Primary</span></label>
	            </div>
	            <div class="checkbox checkbox-secondary">
	              <label><input class="styled" type="checkbox" checked><span>Success</span></label>
	            </div>
	            <div class="checkbox checkbox-tertiary">
	              <label><input class="styled" type="checkbox" checked><span>Danger</span></label>
	            </div>
	            <div class="checkbox checkbox-quarternary">
	              <label><input class="styled" type="checkbox" checked><span>Warning</span></label>
	            </div>
	            <div class="checkbox checkbox-dark">
	              <label><input class="styled" type="checkbox" checked disabled><span>Disabled</span></label>
	            </div>
	          </div>
					</div>
					<div class="col-md-4">
						<h2 class="heading-section">
							<small>Radios Buttons</small>
						</h2>
						<div class="radio radio-primary">
							<input type="radio" name="radio1" id="radio1" value="option1" checked="">
              <label for="radio1"><span>Primary</span></label>
						</div>
						<div class="radio radio-secondary">
							<input type="radio" name="radio2" id="radio2" value="option2" checked="">
              <label for="radio2"><span>Success</span></label>
						</div>
						<div class="radio radio-tertiary">
							<input type="radio" name="radio3" id="radio3" value="option3" checked="">
              <label for="radio3"><span>Danger</span></label>
						</div>
						<div class="radio radio-quarternary">
							<input type="radio" name="radio4" id="radio4" value="option4" checked="">
              <label for="radio4"><span>Warning</span></label>
						</div>
						<div class="radio radio-dark">
							<input type="radio" name="radio6" id="radio6" value="option6" disabled>
              <label for="radio6"><span>Disabled</span></label>
						</div>
					</div>
					<div class="col-md-4">
						<h2 class="heading-section">
							<small>Slide Button</small>
						</h2>
						<div class="slide-button">
							<div class="toggle-button-cover">
					      <div class="button-cover d-flex align-items-center">
					        <div class="button r" id="button-1">
					          <input type="checkbox" class="checkbox">
					          <div class="knobs"></div>
					          <div class="layer"></div>
					        </div>
					        <div class="ml-2"><span class="ios-switch-control-description">Toggle is on</span></div>
					      </div>
					    </div>

					    <div class="toggle-button-cover">
					      <div class="button-cover d-flex align-items-center">
					        <div class="button r" id="button-10">
					          <input type="checkbox" class="checkbox" checked>
					          <div class="knobs">
					            <span>ON</span>
					          </div>
					          <div class="layer"></div>
					        </div>
					        <div class="ml-2"><span class="ios-switch-control-description">Toggle is Off</span></div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>

				<div class="row mb-5">
					<div class="col-md-12">
						<h2 class="heading-section">
							<small>Social Buttons</small>
						</h2>
					</div>
					<div class="col-md-12 mb-4">
						<button type="button" class="btn mb-2 mb-md-0 btn-fb">
              <i class="ion-logo-facebook"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-fb">
              <i class="ion-logo-facebook"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-facebook"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline btn-round">
              <i class="ion-logo-facebook"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-fb">
              <i class="ion-logo-facebook mr-1"></i> Share - 8.2k
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-facebook mr-1"></i> Share - 8.5k
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-link ml-2">
              <i class="ion-logo-facebook mr-1"></i> Share - 8k
            </button>
					</div>
					<div class="col-md-12 mb-4">
						<button type="button" class="btn mb-2 mb-md-0 btn-twitter">
              <i class="ion-logo-twitter"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-twitter">
              <i class="ion-logo-twitter"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-twitter"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline btn-round">
              <i class="ion-logo-twitter"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-twitter">
              <i class="ion-logo-twitter mr-1"></i> Connect with Twitter
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-twitter mr-1"></i> Connect with Twitter
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-link ml-2">
              <i class="ion-logo-twitter mr-1"></i> Connect with Twitter
            </button>
					</div>
					
					<div class="col-md-12 mb-4">
						<button type="button" class="btn mb-2 mb-md-0 btn-linkedin">
              <i class="ion-logo-linkedin"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-linkedin">
              <i class="ion-logo-linkedin"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-linkedin"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline btn-round">
              <i class="ion-logo-linkedin"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-linkedin">
              <i class="ion-logo-linkedin mr-1"></i> Connect with Linkedin
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-linkedin mr-1"></i> Connect with Linkedin
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-link ml-2">
              <i class="ion-logo-linkedin mr-1"></i> Connect with Linkedin
            </button>
					</div>
					<div class="col-md-12 mb-4">
						<button type="button" class="btn mb-2 mb-md-0 btn-pinterest">
              <i class="ion-logo-pinterest"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-pinterest">
              <i class="ion-logo-pinterest"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-pinterest"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline btn-round">
              <i class="ion-logo-pinterest"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-pinterest">
              <i class="ion-logo-pinterest mr-1"></i> Pin it - 1k
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-pinterest mr-1"></i> Pin it - 1k
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-link ml-2">
              <i class="ion-logo-pinterest mr-1"></i> Pin it - 1k
            </button>
					</div>
					<div class="col-md-12 mb-4">
						<button type="button" class="btn mb-2 mb-md-0 btn-dribbble">
              <i class="ion-logo-dribbble"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-round btn-dribbble">
              <i class="ion-logo-dribbble"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-dribbble"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline btn-round">
              <i class="ion-logo-dribbble"></i>
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-dribbble">
              <i class="ion-logo-dribbble mr-1"></i> Find us on Dribbble
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-outline">
              <i class="ion-logo-dribbble mr-1"></i> Find us on Dribbble
            </button>
            <button type="button" class="btn mb-2 mb-md-0 btn-link ml-2">
              <i class="ion-logo-dribbble mr-1"></i> Find us on Dribbble
            </button>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline">
							<i class="ion-ios-images mr-1"></i>
							Watch Photos
						</button>
						<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline">
							<i class="ion-ios-download mr-1"></i>
							Download
						</button>
						<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline">
							<i class="ion-ios-download mr-1"></i>
						</button>
						<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline">
							Add Comment
						</button>
						<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline">
							<i class="ion-ios-chatboxes mr-1"></i>
						</button>
						<button type="button" class="btn mb-2 mb-md-0 btn-round btn-outline">
							<i class="ion-ios-heart mr-1"></i>
							Like
							<small class="ml-4 rounded">2</small>
						</button>
						<button type="button" class="btn mb-2 mb-md-0 btn-round btn-primary">
							Create Account
						</button>
					</div>
				</div>
			</div>
	  </section>
	  <!-- - - - - -end- - - - -  -->

    <script src="{% static 'bootstrap-buttons-15/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-buttons-15/js/popper.js' %}"></script>
    <script src="{% static 'bootstrap-buttons-15/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-buttons-15/js/main.js' %}"></script>
  </body>
</html>