{% extends 'general_app/base.html' %}
{% load static %}

{% block title %}404{% endblock %}

{% block navbar %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '404.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="error-page">
        <h1>Ой!</h1>
        <h2>404 - Страница не найдена</h2>
        <img src="{% static 'favicon.png' %}" alt="Habitus" width="50" height="50">
        <p>Кажется, мы не можем найти то, что вы ищете.</p>
        <p>Возможно, она была перемещена, или вы ввели неверный адрес. Попробуйте вернуться на <a
                href="{% url 'home' %}">главную страницу</a>.</p>
    </div>
</div>
{% endblock %}