{% if settings.showCreateActivity %}
    <form id="createActivity" action="{% url 'create_activity' date 0 %}" method="post">
        {% csrf_token %}
        <input id="createActivityInput" placeholder="Имя активности" type="text" name="createActivityInput">
    </form>
{% endif %}  <!-- Поле для ввода имени новой активности -->

{% if settings.showCreateActivityGroup %}
    <form id="createActivityGroup" action="{% url 'create_activity' date 1 %}" method="post">
        {% csrf_token %}
        <input id="createActivityGroupInput" placeholder="Имя группы" type="text" name="createActivityGroupInput">
    </form>
{% endif %}  <!-- Поле для ввода имени новой группы активностей -->
