{% load static %}

<dialog class="dialog" id="some-modal-id">
    <h3 class="dialog__title">Настройки</h3>
    <hr>
    <p></p>
    <form id="settingsGlobal" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="showCalendar">Показать календарь</label>
            <input name="showCalendar" id="showCalendar" type="checkbox"
                    {% if settings.showCalendar %} checked {% endif %}>
        </div>
        <div>
            <label for="showCreateActivity">Показать создание активностей</label>
            <input name="showCreateActivity" id="showCreateActivity" type="checkbox"
                    {% if settings.showCreateActivity %} checked {% endif %}>
        </div>
        <div>
            <label for="showCreateActivityGroup">Показать создание групп активностей</label>
            <input name="showCreateActivityGroup" id="showCreateActivityGroup" type="checkbox"
                    {% if settings.showCreateActivityGroup %} checked {% endif %}>
        </div>
        <div>
            <label for="showDeleteActivity">Показать удаление активностей</label>
            <input name="showDeleteActivity" id="showDeleteActivity" type="checkbox"
                    {% if settings.showDeleteActivity %} checked {% endif %}>
        </div>
        <div>
            <label for="showDeleteAllActivities">Показать кнопку удаления всех активностей</label>
            <input name="showDeleteAllActivities" id="showDeleteAllActivities" type="checkbox"
                    {% if settings.showDeleteAllActivities %} checked {% endif %}>
        </div>
        <div>
            <label for="enableSortTable">Включить перетаскивание строк</label>
            <input name="radioSettings" id="enableSortTable" type="radio" value="sort"
                    {% if settings.enableSortTable %} checked {% endif %}>
        </div>
        <div>
            <label for="enableOpenCloseGroups">Включить открытие/закрытие групп</label>
            <input name="radioSettings" id="enableOpenCloseGroups" type="radio" value="group"
                    {% if settings.enableOpenCloseGroups %} checked {% endif %}>
        </div>
        <p></p>
        <hr>
        <input id="data" name="data">
    </form>
    <button class="button-6" role="button" onclick="btnSaveSettings();"
            style="background-color:#dfffdf;">Сохранить</button>
    <form id="closeDialog" method="dialog">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно настроек сайта -->

<button id="buttonSettings" type="button"
        onclick="window['some-modal-id'].showModal();" aria-controls="some-modal-id">
    <img width="16" height="16" src="{% static 'settings.png' %}"></button>  <!-- Кнопка настроек -->

<dialog id="dialog">
    <h3 class="dialog__title elementActivitySettings"></h3>
    <hr>
    <form id="formActivitySettings" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <input class="elementActivitySettings" style="display:none" name="activityPk"/>
        <div>
            <label for="colorBackgroundForm">Цвет активности</label>
            <input id="colorBackgroundForm" name="backgroundColor" class="colorBackgroundForm elementActivitySettings" type="color">
            <input id="colorBackgroundFormText" maxlength="7" type="text">
        </div>
        <div>
            <label for="colorTextForm">Цвет текста</label>
            <input id="colorTextForm" name="color" class="colorTextForm elementActivitySettings" type="color">
            <input id="colorTextFormText" maxlength="7" type="text">
        </div>
        <div>
            <label for="activityName">Название</label>
            <input class="elementActivitySettings" name="activityName" id="activityName" type="text">
        </div>
        <div class="beginDay">
            <label for="beginDay">День начала</label>
            <input name="beginDay" id="beginDay" type="number" min="1" max="{{ days }}" class="elementActivitySettings">
        </div>
        <div class="endDay">
            <label for="endDay">День конца</label>
            <input name="endDay" id="endDay" type="number" min="1" max="{{ days }}" class="elementActivitySettings">
        </div>
        <hr class="grid-container">
        <div class="grid-container">
            {% for activity in range_activities %}
                {% if not activity.isGroup %}
                    <div class="activityCell">
                        <label for="activityToGroup{{ activity.pk }}">{{ activity.name }}</label>
                        <input id="activityToGroup{{ activity.pk }}" class="elementActivitySettings" type="checkbox" name="{{ activity.pk }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
    <hr>
    <button class="button-6" onclick="document.querySelector('form[id=formActivitySettings]').submit();"
            role="button" style="background-color:#dfffdf;">Сохранить</button>
    <form method="dialog" id="closeDialog">
        <button id="closeSettingsActivity" class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно настроек группы/активности -->

<dialog id="dialogHead">
    <h3 class="dialog__title dialogHeadSettings">Глобальные настройки цвета</h3>
    <hr>
    <form id="formColorSettings" action="{% url 'global_colors' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="tableHeadColor*changeParagraph">Цвет фона заголовка</label>
            <input name="tableHeadColor" id="tableHeadColor*changeParagraph" type="color"
                   value="{{ settings.tableHeadColor }}">
        </div>
        <div>
            <label for="tableHeadColorWeekend">Цвет фона выходных</label>
            <input name="tableHeadColorWeekend" id="tableHeadColorWeekend" type="color"
                   value="{{ settings.tableHeadColorWeekend }}">
        </div>
        <div>
            <label for="tableHeadTextColor*changeParagraph">Цвет текста заголовка</label>
            <input name="tableHeadTextColor" id="tableHeadTextColor*changeParagraph"
                   type="color" value="{{ settings.tableHeadTextColor }}">
        </div>
        <div>
            <label for="backgroundColor">Цвет заднего фона сайта</label>
            <input name="backgroundColor" id="backgroundColor" type="color"
                   value="{{ settings.backgroundColor }}">
        </div>

    </form>
    <hr>
    <button class="button-6" onclick="document.querySelector('form[id=formColorSettings]').submit();"
            role="button" style="background-color:#dfffdf;">Сохранить</button>
    <form method="dialog" id="closeDialog">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно глобальных настроек цвета -->

<dialog id="dialogCell">
    <h3 class="dialog__title dialogHeadSettings">Настройка клетки</h3>
    <hr>
    <form id="formCellCommentSettings" action="{% url 'by_date' date %}" method="post">
        {% csrf_token %}
        <div>
            <label for="symbolsOnCell">Надпись в клетке</label>
            <input id="symbolsOnCell" name="symbols" type="text">
        </div>
        <div>
            <label for="commentOnCell">Комментарий в клетке</label>
            <input id="commentOnCell" name="comment" type="text">
        </div>
        <input id="cellNum" type="hidden" name="cell">
    </form>
    <hr>
    <button class="button-6" onclick="document.querySelector('form[id=formCellCommentSettings]').submit();"
            role="button" style="background-color:#dfffdf;">Сохранить</button>
    <form method="dialog" id="closeDialog">
        <button class="button-6" role="button" style="background-color:#ffdfdf;">Закрыть</button>
    </form>
</dialog>  <!-- Диалоговое окно текста клетки -->
