{% extends 'general_app/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Технический перерыв{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm text-center p-4 p-md-5 w-40">
        <h1 class="mb-3">Productivum</h1>
        <div class="d-flex justify-content-center mb-4">
            <img src="{% static 'logo.png' %}" alt="Productivum" class="logo" width="150">
        </div>
        <h2 class="mb-3 fs-5 fs-md-4">Технический перерыв 20-60 минут.</h2>
        <p class="text-muted mb-0 fs-6 fs-md-5">Наш сайт временно недоступен. Пожалуйста, зайдите позже.</p>
    </div>
</div>
{% endblock %}