{% load static %}
{% load tags %}

<div>
    {% if settings.enableSortTable %}
        <table class="sortable-table table">
    {% else %}
        <table class="table">
    {% endif %}
    <thead>
    <tr>
        {% for j in range_days %}
            {% if forloop.first %}
                <th>
                    <p class="headParagraph changeParagraph main">
                        {{ month_name }} {{ year }}
                    </p>
                </th>
            {% else %}
                <th>
                    <p class="headParagraph {% if weekends|index:j %} weekend {% else %} changeParagraph {% endif %} minor">
                        {{ j|add:1 }}
                    </p>
                </th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for activity in range_activities %}
        <tr style="{% if not activity.isGroup and activity|group_is_open:group_open and settings.enableOpenCloseGroups %} display: none; {% endif %}"
            class="{% if activity.isGroup %}isGroup{{ activity.pk }}{% else %}group{{ activity|get_group_id:connections }}-{{ activity.pk }}{% endif %}">
            {% for j in range_days %}
                {% if forloop.first %}
                    <td class="header {% if activity.isOpen %} expand {% endif %} {% if activity.isGroup %} isGroup{{ activity.pk }} {% else %} group{{ activity|get_group_id:connections }}-{{ activity.pk }} {% endif %}">
                        <input class="activityNames" name="{{ activity.name }}" style="display:none;">
                        <p class="paragraph" id="p{{ forloop.parentloop.counter0 }}{% if '/m' in request.path and j != -1 %}-{% endif %}{{ j }}"
                           style="{% if not activity|get_group_id:connections == None %} margin-left: 10px; {% endif %}{% if '/m' in request.path %}font-size: 12px;{% endif %}" data-conn="{{ activity|connection_group:lst_group_conns }}" data-onOffDays="{{ activity|get_days|safe }}" data-type="{% if activity.isGroup %}группы{% else %}активности{% endif %}" data-pk="{{ activity.pk }}" data-color-activity="{{ activity.backgroundColor }}" data-color-text="{{ activity.color }}" data-name="{{ activity.name }}" data-beginDay="{{ activity.beginDay|add:1 }}" data-endDay="{{ activity.endDay|add:1 }}">
                            {% if settings.showDeleteActivity %}
                                <a href="{% url 'delete_activity' activity.pk date %}">
                                    <button class="deleteActivity" type="button">
                                        <img class="cross" src="{% static 'cross.png' %}"></button>
                                </a>
                            {% endif %}
                            {{ activity.name }}
                        </p>
                    </td>
                {% else %}
                    <td>
                        {% if activity.isGroup %}
                            {% progress_cell as progress_result %}
                            {% if not progress_result == -1 %}
                                <div class="progress vertical {% if today|add:-1 == j %}today{% endif %} {% if progress_result > 0 and progress_result < 100 %} notFull {% elif progress_result == 100 %} full {% else %} off {% endif %}">
                                    <div class="progress-bar {% if progress_result > 0 and progress_result < 100 %} notFull {% elif progress_result == 100 %} full {% else %} off {% endif %}"
                                         style="width: {{ progress_result|floatformat:0 }}%;height: 24px;background-color: {{ activity.backgroundColor }}" data-bgcolor="{{ activity.backgroundColor }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if activity.beginDay <= j and j <= activity.endDay and activity|get_one_day:j %}
                                <div id="{{ forloop.parentloop.counter0 }}-{{ j }}" {% get_comments as res %} data-title="{{ res }}"
                                     class="divClick {% if today|add:-1 == j %}today{% endif %} {% if res %}hasText{% endif %}" style="display:flex;align-items: center; justify-content: center; font-size: 9px">{% get_symbols %}</div>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>  <!-- Таблица активностей -->

{% if range_activities and settings.showDeleteAllActivities %}
<form action="{% url 'delete_all' date %}" method="post">
    {% csrf_token %}
<button class="button-6" role="button" style="background-color:#ffdfdf;width: auto">Очистить все активности</button>
</form>
{% endif %}  <!-- Кнопка удаления всех активностей -->
