{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodorum</title>
    <style>
        .topnav {
            position: absolute !important;
            top: 0;
            min-width: 100vw;
        }
        .skew-menu {
            position: absolute;
        }
    </style>
    <link rel="stylesheet" href="{% static 'pomodoro/main.css' %}">
    <link rel="stylesheet" href="{% static 'pomodoro/modal.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

{% if request.user_agent.is_mobile %}
    {% include 'navibarMobile.html' %}
{% else %}
    {% include 'navibar.html' %}
{% endif %}

{% include 'pomodoro/timer.html' %}

{% include 'pomodoro/modal.html' %}

<audio id="alarmSound" src="{% static 'end.mp3' %}" preload="auto"></audio>
<script src="{% static 'pomodoro/main.js' %}"></script>
</body>
</html>
