{% extends 'general_app/base.html' %}
{% load static %}

{% block title %}Pomodorum{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pomodoro/main.css' %}">
<link rel="stylesheet" href="{% static 'pomodoro/modal.css' %}">
    <style>
        .nav-menu {
            position: absolute !important;
            top: 0;
        }
        .nav-top {
            position: absolute  !important;
            top: 0;
            min-width: 100%;
        }
    </style>

{% endblock %}

{% block content %}
<div id="settingsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeSettings()">&times;</span>
        <h2>Настройки</h2>

        <div class="settings-div">
            <div class="input-modal-div">
                <label for="minutesInput">Минут:</label>
                <input type="number" id="minutesInput" value="25" min="0">
            </div>
            <div class="input-modal-div">
                <label for="secondsInput">Секунд:</label>
                <input type="number" id="secondsInput" value="0" min="0" max="59">
            </div>
        </div>

        <button onclick="applySettings()">Сохранить</button>
    </div>
</div>

<div class="container">
    <div id="timer">25:00</div>
    <div class="buttons">
        <button id="start-btn" onclick="startTimer()">Начать</button>
        <button id="reset-btn" onclick="resetTimer()" disabled>Сбросить</button>
        <button id="settings-btn" onclick="openSettings()">Настройки</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<audio id="alarmSound" src="{% static 'end.mp3' %}" preload="auto"></audio>
<script src="{% static 'pomodoro/main.js' %}"></script>
{% endblock %}