<div id="settingsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeSettings()">&times;</span>
        <h2>Настройки</h2>

        <div class="settings-div">
            <div class="input-modal-div">
                <label for="minutesInput">Минут:</label>
                <input type="number" id="minutesInput" value="25" min="0">
            </div>
            <div class="input-modal-div">
                <label for="secondsInput">Секунд:</label>
                <input type="number" id="secondsInput" value="0" min="0" max="59">
            </div>
        </div>

        <button onclick="applySettings()">Сохранить</button>
    </div>
</div>
